<section class="projects">
  <h1>My Projects 🚀</h1>
  <h2>From concept to creation, every project tells a story of innovation, creativity, and purpose — explore them here! 💡✨</h2>

  <div class="project-container">

    <div class="project-card">
      <img src="HOME.png" alt="Patient System">
      <h3>Patient Follow-Up System</h3>
      <p>An application designed to improve patient management and the analysis of medical performance within a healthcare facility.</p>
      <div class="tech-stack">
        <span>PHP</span>
        <span>MySQL</span>
        <span>Bootstrap</span>
        <span>HTML</span>
        <span>JavaScript</span>
        <span>CSS</span>
      </div>
      <a href="https://github.com/hassounamohamed/Systeme-de-Suivi-desPatients-et-Analyse-des-Performances-Medicales" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <div class="project-card">
      <img src="Study.png" alt="Study with me">
      <h3>Study with Me</h3>
      <p>NovaUni is a modern educational platform combining AI, quizzes, and interactive learning tools for a better learning experience.</p>
      <div class="tech-stack">
        <span>React.js</span>
        <span>FastAPI</span>
        <span>MongoDB</span>
        <span>AI APIs</span>
      </div>
      <a href="https://github.com/hassounamohamed/Study_with_me" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <div class="project-card">
      <img src="moodify.png" alt="Moodify">
      <h3>Moodify</h3>
      <p>Moodify – A music platform tailored to your mood with Artificial Intelligence.</p>
      <div class="tech-stack">
        <span>Symfony</span>
        <span>Doctrine ORM</span>
        <span>MySQL</span>
        <span>Twig</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>AI API</span>
      </div>
      <a href="https://github.com/hassounamohamed/Moodify" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </div>
<div class="github-section">
  <a href="https://github.com/hassounamohamed" target="_blank" class="github-card">
    <i class="fab fa-github"></i>
    <div class="github-text">
      <p>Discover more projects on</p>
      <h3>My GitHub 👉</h3>
    </div>
  </a>
</div>

</section>
