<section class="projects">
  <h1><i class="fa-solid fa-laptop-code"></i> My Projects</h1>
  <p class="projects-subtitle">From concept to creation, every project tells a story of innovation, creativity, and purpose — explore them here!</p>

  <div class="project-container">
  

     <div class="project-card">
  <img src="flowpilot.png" alt="Flowpilot" loading="lazy">
      <h2>Flowpilot.tn</h2>
      <p>A complete software testing management platform for Agile teams, integrating artificial intelligence to optimize QA processes.</p>
      <div class="tech-stack">
        <span>Next.js</span>
        <span>TypeScript</span>
        <span>Tailwind CSS</span>
        <span>FastAPI</span>
        <span>PostgreSQL</span>
        <span>Docker</span>
        <span>AI APIs</span>
        <span>Neon</span>
        <span>SCRUM</span>
      </div>
      <a href="https://github.com/Plateforme-Intelligente-Tests-Logiciels/Plateforme-Intelligente-Tests-Logiciels" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>

      <a href="https://flowpilot.tn" target="_blank" class="social-link" aria-label="Live demo">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>

   <div class="project-card">
  <img src="/CV Builder Pro.png" alt="CV Builder Pro" loading="lazy">
      <h2>CV Builder Pro</h2>
      <p>Create Professional Resumes in Minutes Build stunning, ATS-friendly resumes with our intuitive drag-and-drop builder. Stand out from the crowd and land your dream job.</p>
      <div class="tech-stack">
        <span>Next.js</span>
        <span>TypeScript</span>
        <span>Tailwind CSS</span>
        <span>Firebase</span>
        <span>Docker</span>
        <span>Vercel</span>
      </div>
      <a href="https://github.com/hassounamohamed/CV-Builder-Pro" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>

      <a href="https://cv-builder-pro-ochre.vercel.app" target="_blank" class="social-link" aria-label="Live demo">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>


     <div class="project-card">
  <img src="/flowpilotmobile.png" alt="Flowpilot Mobile" loading="lazy">
      <h2>Flowpilot Mobile</h2>
      <p>A mobile application for managing software testing processes.</p>
      <div class="tech-stack">
        <span>React Native</span>
        <span>Expo</span>
        <span>Docker</span>
        <span>AI APIs</span>
        <span>SCRUM</span>
      </div>
      <a href="https://github.com/Plateforme-Intelligente-Tests-Logiciels/Mobile-App-PILT" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>


     <div class="project-card">
  <img src="covid-tunisia-analysis.png" alt="COVID-19 Tunisia Data Analysis" loading="lazy">
      <h2>COVID-19 Tunisia Data Analysis</h2>
      <p>This project analyzes COVID-19 data in Tunisia .
It includes hospital bed capacity by city and COVID-19 cases evolution.</p>
      <div class="tech-stack">
        <span>Python</span>
        <span>Pandas</span>
        <span>CSV Data</span>
      
      </div>
      <a href="https://github.com/hassounamohamed/covid-tunisia-analysis" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>





    <div class="project-card">
  <img src="/Elegancia.png" alt="Elegancia" loading="lazy">
      <h2>Elegancia</h2>
      <p>A modern e-commerce platform for showcasing and selling elegant fashion items.</p>
      <div class="tech-stack">
        <span>Next.js</span>
        <span>TypeScript</span>
        <span>Tailwind CSS</span>
        <span>Vercel</span>
      </div>
      <a href="https://github.com/hassounamohamed/Elegancia" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>

      <a href="https://elegancia-eight.vercel.app" target="_blank" class="social-link" aria-label="Live demo">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>


    <div class="project-card">
  <img src="/quickcut.png" alt="QuickCut" loading="lazy">
      <h2>QuickCut</h2>
      <p>Barber booking app that allows users to reserve haircuts and avoid waiting lines.</p>
      <div class="tech-stack">
        <span>React Native</span>
        <span>Expo</span>
        <span>Axios</span>
        <span>Fast API</span>
        <span>PostgreSQL</span>
        <span>Docker</span>
      </div>
      <a href="https://github.com/hassounamohamed/QuickCut" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>


 



       <div class="project-card">
  <img src="fingerprint.png" alt="Fingerprint Lock Screen" loading="lazy">
      <h2>Fingerprint Lock Screen</h2>
      <p>A Fingerprint Lock Screen Android App .</p>
      <div class="tech-stack">
        <span>Kotlin</span>
        <span>Jetpack Compose</span>
        <span>Material 3</span>
        <span>BiometricPrompt API</span>
        <span>AndroidX Libraries</span>      
      </div>
      <a href="https://github.com/hassounamohamed/Fingerprint-Lock-Screen" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>

         <div class="project-card">
  <img src="Weather-App.png" alt="Weather-App" loading="lazy">
      <h2>Weather App</h2>
      <p>A Weather App Android App .</p>
      <div class="tech-stack">
        <span>Flutter</span>
        <span>Dart</span>
        <span>OpenWeather API</span>
        <span>Lottie Animations</span>
            
      </div>
      <a href="https://github.com/hassounamohamed/Weather-App" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>





      <div class="project-card">
  <img src="/homenest.png" alt="Home Rental" loading="lazy">
      <h2>Home Rental</h2>
      <p>A platform for renting homes with a user-friendly interface and comprehensive property listings.</p>
      <div class="tech-stack">
        <span>React Native</span>
        <span>Expo</span>
        <span>Firebase</span>
        <span>TypeScript</span>
        <span>Cloud Firestore</span>
      
      </div>
      <a href="https://github.com/hassounamohamed/Services-Immobilier" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>







    <div class="project-card">
  <img src="/HOME.png" alt="Patient System" loading="lazy">
      <h2>Patient Follow-Up System</h2>
      <p>An application designed to improve patient management and the analysis of medical performance within a healthcare facility.</p>
      <div class="tech-stack">
        <span>PHP</span>
        <span>MySQL</span>
        <span>Bootstrap</span>
        <span>HTML</span>
        <span>JavaScript</span>
        <span>CSS</span>
      </div>
      <a href="https://github.com/hassounamohamed/Systeme-de-Suivi-desPatients-et-Analyse-des-Performances-Medicales" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <div class="project-card">
  <img src="/Study.png" alt="Study with me" loading="lazy">
      <h2>Study with Me</h2>
      <p>NovaUni is a modern educational platform combining AI, quizzes, and interactive learning tools for a better learning experience.</p>
      <div class="tech-stack">
        <span>React.js</span>
        <span>FastAPI</span>
        <span>MongoDB</span>
        <span>AI APIs</span>
      </div>
      <a href="https://github.com/hassounamohamed/Study_with_me" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <div class="project-card">
  <img src="/moodify.png" alt="Moodify" loading="lazy">
      <h2>Moodify</h2>
      <p>Moodify – A music platform tailored to your mood with Artificial Intelligence.</p>
      <div class="tech-stack">
        <span>Symfony</span>
        <span>Doctrine ORM</span>
        <span>MySQL</span>
        <span>Twig</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>AI APIs</span>
      </div>
      <a href="https://github.com/hassounamohamed/Moodify" target="_blank" class="social-link" aria-label="GitHub Repository">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </div>
<div class="github-section">
  <a href="https://github.com/hassounamohamed" target="_blank" class="github-card">
    <i class="fab fa-github"></i>
    <div class="github-text">
      <p>Discover more projects on</p>
      <h2>My GitHub</h2>
    </div>
  </a>
</div>

</section>
