<section class="hero">
  <div class="hero-left">
    <p class="subtitle">Software Developer</p>
    <h1 class="intro-title">Hello, I’m</h1>
    <h1 class="name">Mohamed Hassouna <span class="wave">👋</span></h1>
    <h3 class="description">
      I’m a Full-Stack Developer focused on building modern, scalable web solutions. Skilled in Angular, Spring Boot, Java, and MySQL, I love turning ideas into real, user-friendly apps — built to last and optimized for performance.
    </h3>

    <div class="info">
      <p><i class="fa-solid fa-location-dot"></i> Monastir, Tunisia</p>
      <p><i class="fa-solid fa-circle-check"></i> Available for new projects</p>
    </div>

    <div class="buttons">
      <a href="your-cv.pdf" class="btn">Download CV</a>
      <a href="https://github.com/hassounamohamed" target="_blank" class="social-icon">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/mohamedhassouna/" target="_blank" class="social-icon">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>

  <div class="hero-right">
    <img src="mohamed.jpg" alt="Mohamed Hassouna" class="profile-pic">
  </div>

  <div class="stars-bg"></div>
</section>
